# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Cubix specific
cubix.iso
cubix.bin
compile_commands.json
qemu_dbg.py
.yacbi
.exrc
.ycm_extra_conf.*
